.container.header
    .header__left
        a.header__logo(href="index.html")
            img(src="assets/img/logo.png", alt="Логотип ПТЖБ")
    .header__mid
        .header__mid-top
            span.header__address
                span 
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9px" height="13px">
                        <path fill-rule="evenodd"  fill="rgb(191, 39, 46)" d="M4.500,6.702 C3.379,6.702 2.469,5.767 2.469,4.613 C2.469,3.457 3.379,2.522 4.500,2.522 C5.622,2.522 6.532,3.458 6.532,4.613 C6.532,5.766 5.622,6.702 4.500,6.702 M4.500,0.004 C2.017,0.004 0.004,2.075 0.004,4.629 C0.004,7.042 2.040,10.155 3.400,11.670 C3.908,12.236 4.500,12.998 4.500,12.998 C4.500,12.998 5.135,12.231 5.680,11.649 C7.039,10.197 8.996,7.281 8.996,4.629 C8.996,2.075 6.983,0.004 4.500,0.004 "/>
                    </svg>
                | Адрес: Пермский край, г. Краснокамск, п. Оверята, Комсомольская
            ul.header__contacts
                li
                    a(href="tel:+78007004705") 8 (800) 700-47-05   
                li
                    a(href="mailto:info@ptgb.ru") info@ptgb.ru
        .header__mid-bottom
            nav.header__nav
                ul
                    li
                        a(href="") Компания
                    li
                        a(href="") Продукция
                        ul.header__subnav
                            li
                                a(href="") ЖБИ
                            li
                                a(href="") Газоблок
                    li
                        a(href="") Акции
                    li
                        a(href="") Клиентам
                    li
                        a(href="") Поставщикам
                    li
                        a(href="") Карьера
                    li
                        a(href="") Контакты
                    li
                        a(href="") Блог
    .header__right
        a(href="javascript:;").header__call
            span.header__call-icon
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                    <path d="M10.432,16.007 C9.491,16.014 8.615,15.766 7.773,15.366 C5.944,14.498 4.497,13.162 3.178,11.671 C2.036,10.380 1.056,8.985 0.453,7.360 C-0.171,5.678 -0.204,4.008 0.599,2.362 C1.064,1.409 1.879,0.790 2.707,0.194 C3.090,-0.082 3.565,-0.055 3.912,0.249 C4.908,1.118 5.620,2.189 5.929,3.479 C6.057,4.013 5.859,4.504 5.413,4.864 C5.103,5.115 4.792,5.362 4.480,5.609 C3.891,6.076 3.746,6.527 3.954,7.246 C4.039,7.541 4.170,7.816 4.330,8.077 C5.101,9.343 6.074,10.430 7.267,11.320 C7.398,11.417 7.533,11.510 7.675,11.591 C8.417,12.021 9.004,11.949 9.618,11.351 C9.822,11.152 10.012,10.938 10.218,10.740 C10.822,10.159 11.570,10.011 12.300,10.424 C13.211,10.940 14.001,11.629 14.669,12.429 C15.156,13.012 15.085,13.591 14.515,14.102 C13.889,14.663 13.321,15.304 12.499,15.619 C11.831,15.875 11.144,16.000 10.432,16.007 Z"/>
                </svg>
            span.header__call-text Заявка на звонок
        .header__double-btn
            a(href="javascript:;").header__double-btn-icon.js--header-search
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                    <path d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="13px">
                    <path d="M6.483,8.046 C6.428,8.130 6.405,8.184 6.367,8.222 C4.852,9.751 3.336,11.278 1.820,12.807 C1.581,13.048 1.446,13.051 1.194,12.815 C0.845,12.488 0.496,12.161 0.148,11.833 C-0.058,11.641 -0.060,11.487 0.140,11.285 C1.684,9.729 3.229,8.173 4.773,6.616 C4.811,6.577 4.849,6.538 4.893,6.492 C4.845,6.442 4.805,6.398 4.763,6.356 C3.226,4.806 1.689,3.257 0.151,1.708 C-0.065,1.490 -0.063,1.348 0.159,1.139 C0.514,0.805 0.870,0.470 1.226,0.136 C1.435,-0.060 1.587,-0.058 1.787,0.144 C3.307,1.675 4.827,3.205 6.346,4.738 C6.391,4.783 6.424,4.841 6.486,4.923 C6.565,4.829 6.609,4.768 6.661,4.715 C8.170,3.194 9.679,1.674 11.188,0.153 C11.397,-0.058 11.547,-0.062 11.760,0.138 C12.116,0.472 12.472,0.805 12.828,1.140 C13.046,1.346 13.047,1.495 12.835,1.709 C11.294,3.261 9.752,4.813 8.211,6.366 C8.173,6.404 8.136,6.445 8.090,6.493 C8.398,6.804 8.698,7.106 8.998,7.409 C10.270,8.690 11.541,9.971 12.813,11.252 C13.054,11.495 13.054,11.630 12.807,11.863 C12.459,12.191 12.110,12.519 11.761,12.846 C11.554,13.040 11.396,13.039 11.199,12.840 C9.679,11.310 8.159,9.778 6.641,8.246 C6.595,8.200 6.560,8.145 6.483,8.046 Z"/>
                </svg>
            form.header__search(action="")
                input(type="search", name="", placeholder="Введите запрос по сайту...")
                button(type="submit")
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                        <path d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                    </svg>
            a(href="").header__double-btn-text Скачать прайс лист
    .header__burger
        a(href="")
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>

