.container.header
    .header__left
        a.header__logo(href="index.html")
            img(src="assets/img/logo.png", alt="Логотип ПТЖБ")
    .header__mid
        .header__mid-top
            span.header__address
                span 
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9px" height="13px">
                        <path fill-rule="evenodd"  fill="rgb(191, 39, 46)" d="M4.500,6.702 C3.379,6.702 2.469,5.767 2.469,4.613 C2.469,3.457 3.379,2.522 4.500,2.522 C5.622,2.522 6.532,3.458 6.532,4.613 C6.532,5.766 5.622,6.702 4.500,6.702 M4.500,0.004 C2.017,0.004 0.004,2.075 0.004,4.629 C0.004,7.042 2.040,10.155 3.400,11.670 C3.908,12.236 4.500,12.998 4.500,12.998 C4.500,12.998 5.135,12.231 5.680,11.649 C7.039,10.197 8.996,7.281 8.996,4.629 C8.996,2.075 6.983,0.004 4.500,0.004 "/>
                    </svg>
                | Адрес: Пермский край, г. Краснокамск, п. Оверята, Комсомольская
            ul.header__contacts
                li
                    a(href="tel:+78007004705") 8 (800) 700-47-05   
                li
                    a(href="mailto:info@ptgb.ru") info@ptgb.ru
        .header__mid-bottom
            nav.header__nav
                ul
                    li
                        a(href="about.html") Компания
                    li
                        a(href="catalog.html") Продукция
                        ul.header__subnav
                            li
                                a(href="") ЖБИ
                            li
                                a(href="") Газоблок
                    li
                        a(href="stocks.html") Акции
                    li
                        a(href="") Клиентам
                    li
                        a(href="") Поставщикам
                    li
                        a(href="vacancies.html") Карьера
                    li
                        a(href="contacts.html") Контакты
                    li
                        a(href="blog.html") Блог
    .header__right
        a(href="javascript:;").header__call
            span.header__call-icon
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="16px">
                    <path d="M10.432,16.007 C9.491,16.014 8.615,15.766 7.773,15.366 C5.944,14.498 4.497,13.162 3.178,11.671 C2.036,10.380 1.056,8.985 0.453,7.360 C-0.171,5.678 -0.204,4.008 0.599,2.362 C1.064,1.409 1.879,0.790 2.707,0.194 C3.090,-0.082 3.565,-0.055 3.912,0.249 C4.908,1.118 5.620,2.189 5.929,3.479 C6.057,4.013 5.859,4.504 5.413,4.864 C5.103,5.115 4.792,5.362 4.480,5.609 C3.891,6.076 3.746,6.527 3.954,7.246 C4.039,7.541 4.170,7.816 4.330,8.077 C5.101,9.343 6.074,10.430 7.267,11.320 C7.398,11.417 7.533,11.510 7.675,11.591 C8.417,12.021 9.004,11.949 9.618,11.351 C9.822,11.152 10.012,10.938 10.218,10.740 C10.822,10.159 11.570,10.011 12.300,10.424 C13.211,10.940 14.001,11.629 14.669,12.429 C15.156,13.012 15.085,13.591 14.515,14.102 C13.889,14.663 13.321,15.304 12.499,15.619 C11.831,15.875 11.144,16.000 10.432,16.007 Z"/>
                </svg>
            span.header__call-text Заявка на звонок
        .header__double-btn
            a(href="javascript:;").header__double-btn-icon.js--header-search
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                    <path d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="13px">
                    <path d="M6.483,8.046 C6.428,8.130 6.405,8.184 6.367,8.222 C4.852,9.751 3.336,11.278 1.820,12.807 C1.581,13.048 1.446,13.051 1.194,12.815 C0.845,12.488 0.496,12.161 0.148,11.833 C-0.058,11.641 -0.060,11.487 0.140,11.285 C1.684,9.729 3.229,8.173 4.773,6.616 C4.811,6.577 4.849,6.538 4.893,6.492 C4.845,6.442 4.805,6.398 4.763,6.356 C3.226,4.806 1.689,3.257 0.151,1.708 C-0.065,1.490 -0.063,1.348 0.159,1.139 C0.514,0.805 0.870,0.470 1.226,0.136 C1.435,-0.060 1.587,-0.058 1.787,0.144 C3.307,1.675 4.827,3.205 6.346,4.738 C6.391,4.783 6.424,4.841 6.486,4.923 C6.565,4.829 6.609,4.768 6.661,4.715 C8.170,3.194 9.679,1.674 11.188,0.153 C11.397,-0.058 11.547,-0.062 11.760,0.138 C12.116,0.472 12.472,0.805 12.828,1.140 C13.046,1.346 13.047,1.495 12.835,1.709 C11.294,3.261 9.752,4.813 8.211,6.366 C8.173,6.404 8.136,6.445 8.090,6.493 C8.398,6.804 8.698,7.106 8.998,7.409 C10.270,8.690 11.541,9.971 12.813,11.252 C13.054,11.495 13.054,11.630 12.807,11.863 C12.459,12.191 12.110,12.519 11.761,12.846 C11.554,13.040 11.396,13.039 11.199,12.840 C9.679,11.310 8.159,9.778 6.641,8.246 C6.595,8.200 6.560,8.145 6.483,8.046 Z"/>
                </svg>
            form.header__search(action="")
                input(type="search", name="", placeholder="Введите запрос по сайту...")
                button(type="submit")
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                        <path d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                    </svg>
            a(href="").header__double-btn-text Скачать прайс лист
        a(href="basket.html").to-delivery
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="17px">
                <path d="M18.993,3.245 C18.721,4.359 18.449,5.473 18.176,6.586 C17.865,7.859 17.554,9.133 17.241,10.405 C17.148,10.781 16.942,10.944 16.565,10.944 C14.945,10.945 13.326,10.945 11.707,10.945 C10.081,10.945 8.455,10.945 6.830,10.945 C6.578,10.945 6.575,10.947 6.634,11.197 C6.740,11.638 6.858,12.076 6.954,12.520 C6.990,12.687 7.057,12.742 7.226,12.741 C9.642,12.736 12.059,12.738 14.476,12.738 C15.026,12.738 15.576,12.736 16.126,12.738 C16.519,12.739 16.795,13.004 16.789,13.369 C16.783,13.723 16.507,13.976 16.123,13.976 C12.964,13.977 9.806,13.977 6.647,13.977 C6.196,13.977 6.014,13.833 5.903,13.379 C5.320,10.991 4.739,8.604 4.158,6.216 C3.772,4.630 3.385,3.045 3.004,1.457 C2.965,1.292 2.896,1.237 2.728,1.239 C2.017,1.249 1.307,1.246 0.596,1.242 C0.284,1.240 0.033,1.001 0.004,0.698 C-0.027,0.376 0.153,0.099 0.448,0.024 C0.513,0.007 0.583,0.005 0.650,0.005 C1.553,0.004 2.455,0.003 3.357,0.004 C3.745,0.004 3.939,0.157 4.035,0.539 C4.171,1.083 4.311,1.626 4.431,2.174 C4.474,2.370 4.546,2.435 4.750,2.435 C9.274,2.428 13.798,2.430 18.323,2.428 C18.494,2.428 18.657,2.443 18.794,2.561 C19.006,2.744 19.059,2.977 18.993,3.245 ZM7.132,3.836 C7.117,3.705 7.070,3.664 6.947,3.667 C6.619,3.673 6.292,3.669 5.964,3.669 C5.643,3.669 5.321,3.675 5.000,3.666 C4.848,3.662 4.804,3.701 4.845,3.861 C5.018,4.538 5.183,5.218 5.344,5.899 C5.374,6.026 5.432,6.072 5.561,6.070 C6.105,6.064 6.649,6.061 7.193,6.071 C7.372,6.075 7.402,5.998 7.382,5.844 C7.296,5.175 7.209,4.506 7.132,3.836 ZM7.576,7.461 C7.562,7.336 7.511,7.303 7.399,7.305 C7.145,7.311 6.892,7.307 6.638,7.307 C6.385,7.307 6.131,7.314 5.878,7.304 C5.729,7.299 5.698,7.348 5.735,7.492 C5.906,8.170 6.072,8.850 6.232,9.531 C6.264,9.670 6.330,9.711 6.463,9.708 C6.846,9.701 7.230,9.706 7.613,9.706 C7.832,9.706 7.851,9.686 7.824,9.469 C7.742,8.800 7.653,8.131 7.576,7.461 ZM10.612,3.873 C10.616,3.718 10.570,3.663 10.414,3.665 C9.796,3.673 9.179,3.675 8.561,3.665 C8.382,3.663 8.353,3.739 8.373,3.893 C8.460,4.568 8.547,5.242 8.624,5.918 C8.639,6.047 8.697,6.070 8.805,6.069 C9.349,6.066 9.892,6.064 10.436,6.070 C10.579,6.072 10.614,6.013 10.612,5.879 C10.605,5.545 10.610,5.211 10.610,4.876 L10.609,4.876 C10.609,4.542 10.602,4.207 10.612,3.873 ZM10.407,7.303 C9.944,7.314 9.480,7.315 9.017,7.302 C8.829,7.297 8.797,7.376 8.818,7.539 C8.905,8.207 8.990,8.876 9.068,9.545 C9.082,9.663 9.120,9.709 9.239,9.708 C9.640,9.702 10.042,9.702 10.443,9.708 C10.576,9.710 10.614,9.656 10.612,9.529 C10.606,9.194 10.610,8.860 10.610,8.526 C10.610,8.191 10.602,7.857 10.613,7.523 C10.618,7.361 10.575,7.299 10.407,7.303 ZM11.822,9.539 C11.821,9.642 11.840,9.708 11.962,9.707 C12.382,9.703 12.802,9.705 13.222,9.706 C13.301,9.706 13.347,9.681 13.357,9.591 C13.442,8.890 13.528,8.190 13.616,7.491 C13.634,7.347 13.578,7.303 13.441,7.304 C12.960,7.310 12.478,7.311 11.996,7.304 C11.853,7.302 11.818,7.361 11.820,7.495 C11.827,7.829 11.822,8.164 11.823,8.498 C11.823,8.845 11.825,9.192 11.822,9.539 ZM13.885,3.667 C13.262,3.672 12.638,3.674 12.014,3.665 C11.853,3.663 11.816,3.727 11.820,3.876 C11.828,4.205 11.822,4.533 11.823,4.861 C11.823,5.208 11.824,5.555 11.821,5.901 C11.821,6.005 11.841,6.070 11.962,6.069 C12.531,6.065 13.099,6.067 13.667,6.067 C13.746,6.067 13.791,6.041 13.802,5.951 C13.886,5.251 13.973,4.551 14.061,3.851 C14.080,3.707 14.021,3.665 13.885,3.667 ZM14.851,7.495 C14.851,7.620 14.822,7.745 14.806,7.870 C14.739,8.407 14.674,8.945 14.604,9.483 C14.584,9.639 14.620,9.715 14.796,9.709 C15.191,9.698 15.587,9.703 15.982,9.708 C16.100,9.709 16.159,9.669 16.189,9.546 C16.355,8.848 16.526,8.151 16.703,7.455 C16.737,7.319 16.680,7.305 16.575,7.306 C16.315,7.309 16.056,7.307 15.796,7.307 C15.555,7.307 15.314,7.313 15.074,7.304 C14.933,7.299 14.852,7.328 14.851,7.495 ZM17.450,3.667 C17.122,3.672 16.794,3.669 16.467,3.669 C16.139,3.669 15.811,3.673 15.484,3.666 C15.359,3.664 15.305,3.705 15.299,3.837 C15.294,3.968 15.267,4.099 15.250,4.231 C15.184,4.769 15.119,5.307 15.049,5.845 C15.029,6.002 15.064,6.074 15.241,6.071 C15.784,6.061 16.329,6.064 16.872,6.070 C17.004,6.072 17.057,6.022 17.087,5.897 C17.250,5.210 17.416,4.524 17.590,3.840 C17.628,3.690 17.577,3.665 17.450,3.667 ZM7.579,14.557 C8.250,14.556 8.780,15.095 8.780,15.778 C8.780,16.472 8.252,17.009 7.570,17.008 C6.901,17.008 6.379,16.467 6.380,15.778 C6.382,15.091 6.906,14.557 7.579,14.557 ZM14.864,14.557 C15.529,14.559 16.054,15.105 16.051,15.792 C16.048,16.473 15.516,17.009 14.844,17.009 C14.173,17.008 13.650,16.470 13.651,15.782 C13.653,15.083 14.175,14.555 14.864,14.557 Z"></path>
            </svg>
            span 4
    .header__burger
        a(href="javascript:;").js--burger
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
    a(href="javascript:;").to-up.js--to-up
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
            <path d="M4.095,2.936c-0.324.416-.633,0.848-0.975,1.245-0.636.739-1.3,1.448-1.932,2.189-0.226.265-.379,0.264-0.6,0C-0.233,5.392-.214,5.714.578,4.812,1.929,3.275,3.3,1.763,4.653.226,4.9-.06,5.066-0.081,5.328.217Q7.55,2.746,9.8,5.24a0.421,0.421,0,0,1,0,.678c-0.693.79-.685,0.8-1.386,0.01C7.555,4.957,6.694,3.983,5.825,3a0.793,0.793,0,0,0-.123.638q-0.008,5.3-.008,10.607c0,0.244.1,0.6-.189,0.681a1.528,1.528,0,0,1-1.095-.039,0.683,0.683,0,0,1-.119-0.631q0-5.277,0-10.555V3.083Z"></path>
        </svg>

