meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title ПермТрансЖелезоБетон
link(rel="stylesheet", href="assets/css/bootstrap.css")
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
link(rel="stylesheet", href="assets/css/jquery.mmenu.all.css")
link(rel="stylesheet", href="assets/css/mainstyle.css")
//- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="assets/js/slick.min.js")
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
script(src="assets/js/jquery.mmenu.all.min.js")
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
script(src="assets/js/bootstrap.js")
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
script(src="assets/js/common.js")
//- <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>