.point-with-icon {
    align-items: center;
    display: flex;
    padding-right: 24px;
    
    span {
        font-size: 0.75rem;
        text-transform: uppercase;
        word-break: break-word;
    }

    &.point-with-icon_gray-back {
        background-color: #efefef;
        padding: 44px 28px;

        @media (max-width: 1200px) {
            padding: 32px 28px;
        }

        @media (max-width: 992px) {
            padding: 24px;
        }
    }

    &.point-with-icon_bold {

        span {
            font-size: 1rem;
        }
    }

    &.point-with-icon_lonely {
        margin-bottom: 32px;
    }

    &.delivery-list__point-with-icon {
        margin-bottom: 16px;

        span {
            font-size: 0.825rem;
            font-weight: 400;
            text-transform: none;

            strong {
                font-weight: 700;
            }
        }
    }

    &.point-with-icon_download {

        .ponit-with-icon__icon {
            margin-right: 16px;

            &::after {
                display: none;
            }
        }

        a {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 24px;
            text-decoration: underline;

            strong {
                font-size: 0.875rem;
                font-weight: 400;
                color: #bf272e;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.ponit-with-icon__icon {
    align-items: center;
    background-color: #bf272e;
    display: flex;
    height: 52px;
    justify-content: center;
    margin-right: 32px;
    min-width: 52px;
    position: relative;
    width: 52px;
}

.ponit-with-icon__icon::after {
    border-bottom: 8px solid #bf272e;
    border-left: 8px solid #bf272e;
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    bottom: 10px;
    content: "";
    height: 0;
    left: 100%;
    position: absolute;
}

.company-advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -12px;
    padding: 60px 0;

    .point-with-icon {
        margin-bottom: 12px;
        width: 20%;
    }

    @media (max-width: 1200px) {
        .point-with-icon {
            width: 25%;
        }
    }

    @media (max-width: 992px) {
        .point-with-icon {
            width: 33.3333%;
        }
    }

    @media (max-width: 768px) {
        padding: 32px 0;

        .point-with-icon {
            width: 50%;
        }
    }

    @media (max-width: 480px) {
        .point-with-icon {
            width: 100%;
        }
    } 
}

.gasblocks-advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -12px;
    padding-bottom: 40px;

    .point-with-icon {
        margin-bottom: 12px;
        width: 25%;
    }

    @media (max-width: 1200px) {
        .point-with-icon {
            width: 33.333%;
        }
    }

    @media (max-width: 992px) {
        .point-with-icon {
            width: 50%;
        }
    }

    @media (max-width: 480px) {
        .point-with-icon {
            width: 100%;
        }
    }
}

.individual-advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 44px;

    .point-with-icon {
        margin-bottom: 12px;
        width: 33.33%;
    }

    @media (max-width: 1200px) {
        .point-with-icon {
            width: 50%;
        }
    }

    @media (max-width: 992px) {
        margin-bottom: 32px;

        .point-with-icon {
            width: 100%;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

