.slick-slide:focus {
    outline: none;
}

.slider-bottom-nav {
    position: relative;

    .slick-dots {
        align-items: center;
        background-color: rgba(59, 59, 59, 0.8);
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        height: 52px;
        position: absolute;
        width: 100%;

        li {

            button {
                background-color: transparent;
                border: none;
                color: #FFF;
                font-size: 1rem;
                font-weight: 700;
                height: 24px;
                transition: .2s all ease-in-out;
                width: 24px;

                &:hover {
                    color: #bf272e;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .slick-dots {
            height: 40px;
        }
    }
}

.slider-with-top-nav {
    @media (max-width: 480px) {
        position: relative;
    }
}

.slider-with-top-nav__head {
    background-color: #919191;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding: 10px;

    @media (max-width: 480px) {
        justify-content: center;
    }
}

.slider-with-top-nav__head-title {
    color: #FFF;
    font-size: 1rem;
    text-transform: uppercase;
}

.slider-with-top-nav__nav {
    display: flex;
    margin: 0 -1.5px;

    a {
        align-items: center;
        background-color: #bf272e;
        display: flex;
        fill: #FFF;
        height: 20px;
        justify-content: center;
        margin: 0 1.5px;
        transition: .2s all ease-in-out;
        width: 20px;

        &:hover {
            background-color: #FFF;
            fill: #bf272e;
        }
    }

    @media (max-width: 768px) {
        margin: 0;

        a {
            border: 1px solid #bf272e;
            height: 39px;
            margin: 0;
            position: absolute;
            width: 39px;
            z-index: 2;

            &:nth-of-type(1) {
                left: 0;
                top: 50%;
            }

            &:nth-of-type(2) {
                right: 0;
                top: 50%;
            }
        }
    }
}