.table-line {

    & > div {
        align-items: center;
        background-color: #f5f5f6;
        color: #28272d;
        display: flex;
        font-size: 0.875rem;
        font-weight: 400;
        justify-content: center;
        padding: 13px;
        text-align: center;

        &.product-table__add {
            padding: 0;
        
            a {
                align-items: center;
                background-color: #a9a9ab;
                color: #FFF;
                display: flex;
                height: 100%;
                justify-content: center;
                transition: all 0.2s ease-in-out;
                width: 100%;
            
                &:hover {
                    background-color: #bf272e;
                }
            }
        }

        &.table-price {
            font-size: 1rem;
            font-weight: 700;
        }
    }

    &.table-line_headline {

        div {
            background-color: #28272d;
            color: #FFF;
        }
    }
}

.table-price-mobile {
    font-size: 1rem!important;
    font-weight: 700!important;
}

.product-table {

    .table-line {
        display: grid;
        gap: 4px;
        grid-template-columns: 1fr 1fr 160px 160px 185px;
        margin-bottom: 4px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    margin-bottom: 40px;

    @media (max-width: 992px) {
        .table-line {
            grid-template-columns: 1fr 1fr 1fr 1fr 185px;
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.product-table-mobile {
    display: none;
    max-width: 500px;
    margin: 0 auto 24px;

    & > li {
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        display: block;
    }
}

.product-table-mobile__headline {
    background-color: #28272d;
    color: #FFF;
    display: block;
    font-size: 0.875rem;
    padding: 10px 12px;
    text-align: center;
}

.product-table-mobile__description {

    li {
        align-items: center;
        border-bottom: 1px solid #f5f5f6;
        display: flex;
        padding: 12px;

        span {
            display: block;
            font-size: 0.875rem;
            font-weight: 400;

            &:nth-of-type(1) {
                padding-right: 12px;
                width: 50%;
            }

            &:nth-of-type(2) {
                width: 50%;
            }
        }

        &:last-of-type {
            border-bottom: none;
        }
    }
}

// Комплект

.complect-table {
    .table-line {
        display: grid;
        gap: 4px;
        grid-template-columns: 1fr 1fr 160px 160px 185px;
        margin-bottom: 4px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    margin-bottom: 24px;

    @media (max-width: 992px) {
        .table-line {
            grid-template-columns: 1fr 200px 1fr 150px 1fr;
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.complect-table__project {
    background-color: #bf272e;
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 4px;
    padding: 13px 20px;
    text-align: end;
    text-transform: uppercase;
}

.complect-table__price {
    align-items: center;
    background-color: #e2e2ea;
    display: grid;
    grid-template-columns: 1fr 190px;
    height: 43px;

    div {
    
        &:nth-of-type(1) {
            font-size: 0.75rem;
            font-weight: 400;
            text-align: end;
        }

        &:nth-of-type(2) {
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
        }
    }

    &.complect-table__price_gray {
        background-color: #919191;
        color: #FFF;
    }

    &.complect-table__price_red {
        background-color: #bf272e;
        color: #FFF;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        padding: 0 10px;

        div {
    
            &:nth-of-type(1) {
                text-align: start;
            }
        }
    }
}

.complect-table-mobile {
    display: none;
    max-width: 500px;
    margin: 0 auto;

    & > li {
        margin-bottom: 16px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        display: block;
    }
}

.complect-table-mobile__headline {
    background-color: #28272d;
    color: #FFF;
    display: block;
    font-size: 0.875rem;
    padding: 10px 12px;
    text-align: center;
}

.complect-table-mobile__description {

    li {
        align-items: center;
        border-bottom: 1px solid #f5f5f6;
        display: flex;
        padding: 12px;

        span {
            display: block;
            font-size: 0.875rem;
            font-weight: 400;

            &:nth-of-type(1) {
                padding-right: 12px;
                width: 50%;
            }

            &:nth-of-type(2) {
                text-align: center;
                width: 50%;
            }
        }

        &:last-of-type {
            border-bottom: none;
        }
    }
}

.complect-table-mobile__price {
    font-size: 1rem;
    font-weight: 700;
}

.complect-table-mobile__project {
    background-color: #bf272e;
    color: #FFF;
    display: none;
    font-size: 0.875rem;
    margin: 0 auto;
    max-width: 500px;
    padding: 10px 12px;
    text-align: center;

    @media (max-width: 768px) {
        display: block;
    }
}

.complect-table-mobile__price {
    background-color: #f5f5f6;
    display: none;
    font-size: 0.875rem;
    margin: 0 auto 24px;
    max-width: 500px;
    padding: 10px 12px;
    text-align: center;

    div {
        width: 50%;

        &:nth-of-type(1) {
            font-size: 0.875rem;
            font-weight: 400;
            text-align: start;
        }

        &:nth-of-type(2) {
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        display: flex;
    }
}

// Корзина

.basket-table {
    .table-line {
        display: grid;
        gap: 4px;
        grid-template-columns: 1.5fr 1fr 1fr 1fr 56px;
        margin-bottom: 4px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media (max-width: 992px) {
        .table-line {
            
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.table-delete {
    align-items: center;
    display: flex;
    justify-content: center;
    fill: #28272d;
    transition: all 0.2s ease-in-out;

    &:hover {
        fill: #bf272e;
    }
}

.table-line_headline {

    .table-delete {
        fill: #FFF;

        &:hover {
            fill: #bf272e;
        }
    }
}

.basket-table-mobile {
    display: none;
    max-width: 500px;
    margin: 0 auto;

    & > li {
        margin-bottom: 16px;
        position: relative;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media (max-width: 768px) {
        display: block;
    }
}

.basket-table-mobile__headline {
    background-color: #28272d;
    color: #FFF;
    display: block;
    font-size: 0.875rem;
    padding: 10px 36px;
    text-align: center;
}

.basket-table-mobile__description {

    li {
        align-items: center;
        border-bottom: 1px solid #f5f5f6;
        display: flex;
        padding: 12px;

        span {
            display: block;
            font-size: 0.875rem;
            font-weight: 400;

            &:nth-of-type(1) {
                padding-right: 12px;
                width: 50%;
            }

            &:nth-of-type(2) {
                text-align: center;
                width: 50%;
            }
        }

        &:last-of-type {
            border-bottom: none;
        }
    }
}

.basket-table-mobile__delete {
    align-items: center;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    position: absolute;
    right: 4px;
    top: 3px;
    fill: #FFF;

    &:hover {
        fill: #bf272e;
    }
}