nav#mobile-burger-menu
    ul
        li
            a(href="about.html") Компания
        li
            a(href="catalog.html") Продукция
            ul
                li
                    a(href="") ЖБИ
                li
                    a(href="") Газоблок
        li
            a(href="stocks.html") Акции
        li
            a(href="") Клиентам
        li
            a(href="") Поставщикам
        li
            a(href="vacancies.html") Карьера
        li
            a(href="contacts.html") Контакты
        li
            a(href="blog.html") Блог
