doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_page
                include ./templates/breadcrumb/breadcrumb.pug
                h1.headline.headline_page Для нефтяной и газовой промышленности
                .content-with-left-aside
                    aside.aside-nav.js--aside-nav
                        button.btn.btn-block.btn-lg.btn-outline-primary.aside-nav__show-nav.js--aside-nav__show-nav 
                            span Показать меню
                            span Скрыть меню
                        nav
                            ul
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav.active Каталог ЖБИ
                                    ul.aside-subnav
                                        li
                                            a(href="").btn.aside-subnav__btn Раздел
                                        li
                                            a(href="").btn.aside-subnav__btn Раздел
                                        li
                                            a(href="").btn.aside-subnav__btn Раздел
                                        li
                                            a(href="").btn.aside-subnav__btn Раздел
                                        li
                                            a(href="").btn.aside-subnav__btn Раздел
                                        li
                                            a(href="").btn.aside-subnav__btn Раздел
                                        li
                                            a(href="").btn.aside-subnav__btn Раздел
                                        li
                                            a(href="").btn.aside-subnav__btn Раздел
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav  Нефтяная и газовая промышленность
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav  Промышленно-гражданское строительство
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav  Строительство объектов энергетики и электрификации
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav  Индивидуальная продукция
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav  Газоблоки
                    .content-with-left-aside__content
                        .main-img-of-page
                            img(src="assets/img/by-appointment-cover.png", alt="")
                        ul.filter
                            li.filter__item
                                a(href="javascript").btn.btn-block.active Название типа А
                            li.filter__item
                                a(href="javascript").btn.btn-block.active Название типа А
                            li.filter__item
                                a(href="javascript").btn.btn-block Название типа А
                            li.filter__item
                                a(href="javascript").btn.btn-block Название типа А
                            li.filter__item
                                a(href="javascript").btn.btn-block Название типа А
                        ul.by-appointment-list
                            li.card
                                .card__img
                                    img(src="assets/img/card.png", alt="")
                                    .card__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                                        </svg>
                                .card__description
                                    h4.card__headline Бетонное изделие ПДНм-Ат 800
                                    span.card__price от <strong>2 352</strong> руб./шт.
                                .btn.btn-primary.btn-block.card__detail Подробнее
                                a(href="").whole-block-link
                            li.card
                                .card__img
                                    img(src="assets/img/card.png", alt="")
                                    .card__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                                        </svg>
                                .card__description
                                    h4.card__headline Бетонное изделие ПДНм-Ат 800
                                    span.card__price от <strong>2 352</strong> руб./шт.
                                .btn.btn-primary.btn-block.card__detail Подробнее
                                a(href="").whole-block-link
                            li.card
                                .card__img
                                    img(src="assets/img/card.png", alt="")
                                    .card__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                                        </svg>
                                .card__description
                                    h4.card__headline Бетонное изделие ПДНм-Ат 800
                                    span.card__price от <strong>2 352</strong> руб./шт.
                                .btn.btn-primary.btn-block.card__detail Подробнее
                                a(href="").whole-block-link
                            li.card
                                .card__img
                                    img(src="assets/img/card.png", alt="")
                                    .card__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                                        </svg>
                                .card__description
                                    h4.card__headline Бетонное изделие ПДНм-Ат 800
                                    span.card__price от <strong>2 352</strong> руб./шт.
                                .btn.btn-primary.btn-block.card__detail Подробнее
                                a(href="").whole-block-link
                            li.card
                                .card__img
                                    img(src="assets/img/card.png", alt="")
                                    .card__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                                        </svg>
                                .card__description
                                    h4.card__headline Бетонное изделие ПДНм-Ат 800
                                    span.card__price от <strong>2 352</strong> руб./шт.
                                .btn.btn-primary.btn-block.card__detail Подробнее
                                a(href="").whole-block-link
                            li.card
                                .card__img
                                    img(src="assets/img/card.png", alt="")
                                    .card__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                                        </svg>
                                .card__description
                                    h4.card__headline Бетонное изделие ПДНм-Ат 800
                                    span.card__price от <strong>2 352</strong> руб./шт.
                                .btn.btn-primary.btn-block.card__detail Подробнее
                                a(href="").whole-block-link
                            li.card
                                .card__img
                                    img(src="assets/img/card.png", alt="")
                                    .card__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                                        </svg>
                                .card__description
                                    h4.card__headline Бетонное изделие ПДНм-Ат 800
                                    span.card__price от <strong>2 352</strong> руб./шт.
                                .btn.btn-primary.btn-block.card__detail Подробнее
                                a(href="").whole-block-link
                            li.card
                                .card__img
                                    img(src="assets/img/card.png", alt="")
                                    .card__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.423,20.864 C22.162,21.116 21.907,21.376 21.626,21.606 C21.007,22.109 20.151,22.096 19.528,21.593 C19.447,21.528 19.371,21.457 19.296,21.385 C18.017,20.161 16.743,18.931 15.457,17.714 C14.883,17.171 14.676,16.563 14.978,15.824 C14.997,15.778 14.978,15.694 14.942,15.657 C14.724,15.428 14.496,15.207 14.265,14.978 C10.128,18.025 4.802,16.972 2.042,13.740 C-0.775,10.441 -0.643,5.642 2.561,2.515 C5.598,-0.450 10.372,-0.821 13.849,1.542 C15.885,2.925 17.105,4.819 17.471,7.189 C17.836,9.561 17.193,11.690 15.695,13.602 C15.726,13.639 15.752,13.674 15.783,13.705 C16.003,13.923 16.224,14.141 16.443,14.356 C17.003,14.119 17.537,14.101 18.052,14.394 C18.206,14.481 18.347,14.597 18.475,14.718 C19.794,15.976 21.110,17.237 22.424,18.499 C23.177,19.223 23.175,20.140 22.423,20.864 ZM15.956,8.396 C15.947,4.613 12.777,1.574 8.815,1.550 C4.890,1.527 1.647,4.629 1.654,8.402 C1.661,12.182 4.844,15.230 8.798,15.244 C12.740,15.258 15.964,12.173 15.956,8.396 ZM5.666,12.535 C3.543,11.094 2.920,8.368 4.255,6.304 C4.200,9.957 7.382,12.849 11.145,12.544 C9.981,13.468 7.541,13.806 5.666,12.535 Z"/>
                                        </svg>
                                .card__description
                                    h4.card__headline Бетонное изделие ПДНм-Ат 800
                                    span.card__price от <strong>2 352</strong> руб./шт.
                                .btn.btn-primary.btn-block.card__detail Подробнее
                                a(href="").whole-block-link
            include ./templates/contacts/contacts.pug
            include ./templates/mmenu/mmenu.pug
        footer
            include ./templates/footer/footer.pug