doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_page
                include ./templates/breadcrumb/breadcrumb.pug
                h1.headline.headline_page.headline_constructor Калькулятор газобетона автоклавного твердения
                .constructor-block.constructor-block_gray
                    .constructor-block__headline-wrapper
                        span.constructor-block__headline-number 01
                        h2.constructor-block__headline Ваши данные
                    .constructor-block__description
                        div
                        div
                            p *Указав точные параметры объекта строительства и тип газобетонных блоков, Вы можете предварительно рассчитать требуемое количество блоков и комплектность заказа в поддонах.
                    ul.constructor-block__input-list
                        li.constructor-block__input
                            div
                                label(for="type-block") Выберите тип блока:
                            div
                                select(name="" )#type-block.js--select-search
                                    option(value="") Блок | (600*300*188)
                                    option(value="") Блок | (500*300*188)
                                    option(value="") Блок | (400*300*188)
                        li.constructor-block__input
                            div
                                label(for="wall-length") Введите общую длину стен, м.:
                            div
                                input(type="text" placeholder="18.00")#wall-length
                        li.constructor-block__input
                            div
                                label(for="wall-height") Введите среднюю высоту стены, м.:
                            div
                                input(type="text" placeholder="18.00")#wall-height
                        li.constructor-block__input
                            div
                                label(for="wall-square") Введите общую площадь проёмов, кв. м.:
                            div
                                input(type="text" placeholder="4.00")#wall-square
                    .constructor-block__button-wrapper
                        div
                        div
                            a(href="javascript:;").btn.btn-primary.constructor-block__button Рассчитать
                .constructor-block.constructor-block_white
                    .constructor-block__headline-wrapper
                        span.constructor-block__headline-number 02
                        h2.constructor-block__headline Результаты расчёта по объёму 
                    ul.constructor-block__input-list
                        li.constructor-block__input
                            div
                                label(for="") Вам потребуется, куб. м. газобетона
                            div
                                input(type="text" placeholder="... куб. м. газобетона" disabled)
                        li.constructor-block__input
                            div
                                label(for="") с учётом запаса 5% на подрезку, газобетонных блоков
                            div
                                input(type="text" placeholder="... куб. м. газобетона" disabled)
                    .constructor-block__headline-wrapper
                        span.constructor-block__headline-number 03
                        h2.constructor-block__headline Кратный поддонам расчёт
                    ul.constructor-block__input-list
                        li.constructor-block__input
                            div
                                label(for="") Потребуется поддонов, шт.
                            div
                                input(type="text" placeholder="... куб. м. газобетона" disabled)
                        li.constructor-block__input
                            div
                                label(for="") газобетонных блоков, шт.
                            div
                                input(type="text" placeholder="... куб. м. газобетона" disabled)
                    .constructor-block__button-wrapper
                        div
                        div
                            a(href="javascript:;").btn.btn-primary.constructor-block__button Добавить в заказ
            include ./templates/contacts/contacts.pug
        footer
            include ./templates/footer/footer.pug