doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_page
                include ./templates/breadcrumb/breadcrumb.pug
                h1.headline.headline_page Контакты
                h2.dealers-page-headline Официальный дилер продукции компании Бетокам в республике Удмуртия "ВМ Строй"
                .dealer
                    .dealer-logo
                        img(src="assets/img/dealer-logo_vmstroy.jpg", alt="")
                    .dealer-description
                        p Компания «ВМ Строй» основана в 1991 году является надежным поставщиком строительно-отделочных материалов.
                        strong Сайты:
                        a(href="вмстрой18.рф") вмстрой18.рф
                        a(href="вм-блок.рф") вм-блок.рф
                h3.dealers-page-subheadline Филиалы вм строй
                ul.dealers-list
                    li.dealers-list__item
                        div
                            span.dealers-list__city г. Глазов
                        div
                            span
                                strong Адрес: 
                                | ул. Юкаменская, 39б
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (34141) 3-85-00
                                | ; 
                                a(href="tel:") 8 (950) 829-01-70
                    li.dealers-list__item
                        div
                            span.dealers-list__city г. Воткинск
                        div
                            span
                                strong Адрес: 
                                | ул. Азина, 203
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (34145) 6-86-18
                                | ; 
                                a(href="tel:") 8 (950) 827-66-03
                    li.dealers-list__item
                        div
                            span.dealers-list__city пос. Яр
                        div
                            span
                                strong Адрес: 
                                | ул. Ворошилова, 10а
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (34157) 40-400
                                | ; 
                                a(href="tel:") 8 (950) 829-07-55
                    li.dealers-list__item
                        div
                            span.dealers-list__city пос. Кез
                        div
                            span
                                strong Адрес: 
                                | ул. Ленина, 18а
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (34158) 3-17-98
                                | ; 
                                a(href="tel:") 8 (950) 829-01-88
                    li.dealers-list__item
                        div
                            span.dealers-list__city г. Ижевск
                        div
                            span
                                strong Адрес: 
                                | мкр. Орловское, ул. Березняковская, 1а
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (3412) 600-617
                                | ; 
                                a(href="tel:") 8 (950) 829-07-61
                    li.dealers-list__item
                        div
                            span.dealers-list__city пос. Балезино
                        div
                            span
                                strong Адрес: 
                                | ул. Заготзерновская, 1
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (34166) 5-15-27
                                | ; 
                                a(href="tel:") 8 (950) 829-01-80
                    li.dealers-list__item
                        div
                            span.dealers-list__city с. Красногорское
                        div
                            span
                                strong Адрес: 
                                | пер. Депутатский, 17е,
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (34164) 2-18-77
                                | ; 
                                a(href="tel:") 8 (904) 310-75-71
                    li.dealers-list__item
                        div
                            span.dealers-list__city пос. Игра
                        div
                            span
                                strong Адрес: 
                                | ул. Советская, 107а
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (34134) 4-28-48
                                | ; 
                                a(href="tel:") 8 (950) 829-07-50
                h2.dealers-page-headline Официальный дилер продукции компании Бетокам в Кировской области
                .dealer
                    .dealer-logo
                        img(src="assets/img/dealer-logo_bms.png", alt="")
                    .dealer-description
                        
                h3.dealers-page-subheadline Филиалы БМС
                ul.dealers-list
                    li.dealers-list__item
                        div
                            span.dealers-list__city г. Киров
                        div
                            span
                                strong Адрес: 
                                | Транспортный пр-д, 6
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (8332) 21-20-20
                    li.dealers-list__item
                        div
                            span.dealers-list__city г. Киров
                        div
                            span
                                strong Адрес: 
                                | Хлебозаводской пр-д, 9
                        div
                            span
                                strong Телефон(ы): 
                                a(href="tel:") 8 (8332) 21-30-01

                a(href="contacts.html").bordered-link Наши контакты
            include ./templates/contacts/contacts.pug
        footer
            include ./templates/footer/footer.pug