doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_page
                include ./templates/breadcrumb/breadcrumb.pug
                .content-with-left-aside
                    aside.aside-nav.aside-nav_small
                        nav
                            ul
                                li
                                    a(href="payment.html").btn.btn-gray.btn-lg.btn-block.btn-nav Оплата
                                li
                                    a(href="delivery.html").btn.btn-gray.btn-lg.btn-block.btn-nav.active Доставка
                                li
                                    a(href="certificates.html").btn.btn-gray.btn-lg.btn-block.btn-nav Сертификаты
                                li
                                    a(href="requisites.html").btn.btn-gray.btn-lg.btn-block.btn-nav Реквизиты
                    .content-with-left-aside__content
                        h1.headline.headline_page Доставка
                        div
                            span.delivery-list__headline Осуществляем доставку удобным для вас способом:
                            ul.delivery-list
                                li.point-with-icon.delivery-list__point-with-icon
                                    .ponit-with-icon__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="14px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M24.930,10.570 C24.929,10.847 24.960,11.137 24.748,11.379 C24.697,11.437 24.729,11.567 24.721,11.664 C24.700,11.910 24.579,12.062 24.349,12.068 C23.872,12.081 23.394,12.072 22.918,12.072 C22.780,10.599 21.430,9.804 20.346,9.872 C19.289,9.939 18.431,10.772 18.143,12.115 C17.565,12.115 16.983,12.115 16.379,12.115 C16.379,9.297 16.379,6.479 16.379,3.590 C16.729,3.650 17.067,3.678 17.387,3.767 C18.406,4.050 19.263,4.630 20.095,5.264 C21.062,6.001 22.057,6.702 23.024,7.440 C23.783,8.019 24.360,8.740 24.606,9.690 C24.618,9.736 24.632,9.803 24.665,9.820 C24.990,9.988 24.931,10.297 24.930,10.570 ZM20.762,6.726 C20.691,6.591 20.587,6.471 20.484,6.358 C19.849,5.663 19.120,5.080 18.302,4.622 C17.931,4.415 17.526,4.260 17.124,4.117 C16.839,4.015 16.753,4.096 16.752,4.393 C16.750,5.230 16.756,6.068 16.749,6.906 C16.747,7.128 16.832,7.210 17.052,7.206 C17.635,7.198 18.219,7.204 18.803,7.204 L18.803,7.203 C19.371,7.203 19.939,7.209 20.507,7.197 C20.622,7.195 20.797,7.155 20.835,7.078 C20.878,6.992 20.818,6.832 20.762,6.726 ZM15.762,11.964 C13.473,11.960 11.184,11.961 8.896,11.959 C8.865,11.959 8.833,11.948 8.788,11.939 C8.636,10.734 7.577,9.926 6.593,9.884 C5.395,9.831 4.415,10.576 4.132,11.742 C4.094,11.900 4.041,11.967 3.862,11.965 C2.945,11.954 2.028,11.962 1.111,11.961 C0.763,11.961 0.619,11.868 0.609,11.540 C0.587,10.842 0.602,10.144 0.602,9.428 C5.719,9.428 10.819,9.428 15.935,9.428 C15.943,9.493 15.957,9.555 15.957,9.618 C15.959,10.326 15.955,11.034 15.961,11.742 C15.962,11.890 15.931,11.964 15.762,11.964 ZM15.942,9.000 C15.534,9.000 15.145,9.000 14.756,9.000 C10.023,9.000 5.290,9.000 0.556,9.000 C0.109,9.000 -0.000,8.890 -0.000,8.437 C-0.000,5.808 -0.000,3.178 -0.000,0.549 C-0.000,0.109 0.109,-0.002 0.542,-0.002 C5.470,-0.002 10.399,-0.002 15.327,-0.002 C15.376,-0.002 15.424,-0.002 15.473,-0.001 C15.832,0.007 15.952,0.123 15.953,0.489 C15.957,1.271 15.956,2.053 15.956,2.834 C15.956,4.804 15.956,6.775 15.955,8.745 C15.955,8.824 15.948,8.903 15.942,9.000 ZM6.426,10.480 C7.402,10.476 8.186,11.265 8.185,12.249 C8.183,13.228 7.417,14.000 6.444,14.002 C5.470,14.005 4.683,13.232 4.677,12.267 C4.671,11.289 5.460,10.484 6.426,10.480 ZM6.435,13.438 C7.093,13.436 7.618,12.904 7.617,12.240 C7.615,11.580 7.082,11.050 6.423,11.055 C5.785,11.059 5.253,11.596 5.250,12.240 C5.248,12.899 5.783,13.439 6.435,13.438 ZM6.450,11.359 C6.931,11.367 7.341,11.776 7.339,12.248 C7.337,12.739 6.925,13.134 6.423,13.126 C5.922,13.118 5.542,12.737 5.545,12.245 C5.548,11.744 5.950,11.351 6.450,11.359 ZM20.544,10.481 C21.503,10.489 22.298,11.290 22.296,12.244 C22.294,13.220 21.500,14.008 20.524,14.005 C19.561,14.001 18.773,13.210 18.773,12.247 C18.773,11.278 19.582,10.472 20.544,10.481 ZM20.548,13.440 C21.189,13.428 21.723,12.890 21.726,12.250 C21.729,11.602 21.182,11.054 20.532,11.055 C19.880,11.057 19.340,11.601 19.343,12.254 C19.345,12.900 19.906,13.452 20.548,13.440 ZM20.549,11.359 C21.039,11.370 21.432,11.768 21.429,12.249 C21.426,12.747 21.024,13.134 20.517,13.127 C20.025,13.120 19.634,12.727 19.636,12.241 C19.639,11.749 20.053,11.349 20.549,11.359 Z"/>
                                        </svg>
                                    span <strong>Автотранспортом:</strong> панелями, кран-бортами и газелями
                                li.point-with-icon.delivery-list__point-with-icon
                                    .ponit-with-icon__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="25px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M3.161,21.490 C2.531,21.393 1.973,21.204 1.485,20.851 C0.528,20.159 -0.000,19.234 -0.007,18.069 C-0.022,15.417 -0.027,12.765 -0.007,10.114 C0.020,6.409 2.836,3.174 6.572,2.532 C7.051,2.449 7.539,2.414 8.075,2.350 C7.909,2.198 7.760,2.066 7.617,1.928 C7.192,1.516 6.769,1.102 6.347,0.687 C6.146,0.489 6.130,0.257 6.300,0.097 C6.470,-0.062 6.683,-0.048 6.885,0.148 C7.525,0.769 8.161,1.393 8.799,2.016 C8.856,2.071 8.915,2.124 8.987,2.191 C9.060,2.123 9.126,2.066 9.188,2.005 C9.814,1.394 10.436,0.777 11.070,0.174 C11.167,0.083 11.325,0.000 11.449,0.007 C11.558,0.013 11.695,0.129 11.757,0.233 C11.848,0.385 11.779,0.540 11.651,0.665 C11.140,1.163 10.631,1.662 10.121,2.161 C10.059,2.222 10.000,2.285 9.923,2.364 C10.325,2.403 10.707,2.417 11.080,2.481 C14.464,3.063 16.667,4.965 17.694,8.166 C17.924,8.881 17.991,9.621 17.990,10.371 C17.986,12.870 17.987,15.370 17.989,17.869 C17.991,19.750 16.818,21.128 14.919,21.469 C14.897,21.473 14.875,21.482 14.825,21.498 C14.888,21.566 14.937,21.626 14.992,21.680 C15.420,22.100 15.850,22.518 16.278,22.938 C16.614,23.266 16.660,23.609 16.402,23.855 C16.135,24.109 15.818,24.063 15.464,23.717 C14.762,23.032 14.065,22.343 13.355,21.667 C13.262,21.579 13.102,21.515 12.974,21.515 C10.318,21.506 7.663,21.510 5.007,21.505 C4.838,21.505 4.718,21.554 4.599,21.671 C3.885,22.378 3.164,23.077 2.447,23.781 C2.282,23.943 2.099,24.055 1.857,24.003 C1.401,23.906 1.252,23.386 1.589,23.046 C2.040,22.592 2.503,22.150 2.960,21.701 C3.022,21.641 3.079,21.577 3.161,21.490 ZM8.977,12.065 C9.149,12.065 9.321,12.065 9.493,12.065 C11.124,12.065 12.755,12.068 14.385,12.063 C15.121,12.061 15.747,11.561 15.764,10.894 C15.779,10.290 15.775,9.667 15.645,9.081 C15.043,6.374 12.705,4.560 9.871,4.550 C9.256,4.547 8.642,4.543 8.027,4.552 C7.378,4.560 6.736,4.648 6.128,4.870 C3.970,5.660 2.675,7.175 2.267,9.388 C2.177,9.879 2.184,10.395 2.209,10.896 C2.242,11.571 2.855,12.061 3.618,12.063 C5.404,12.069 7.191,12.065 8.977,12.065 ZM5.481,16.137 C5.038,15.092 4.459,14.706 3.601,14.879 C2.885,15.023 2.365,15.645 2.366,16.357 C2.367,17.095 2.905,17.713 3.671,17.855 C4.458,18.000 5.090,17.555 5.476,16.576 C7.815,16.576 10.158,16.576 12.497,16.576 C12.905,17.576 13.524,18.005 14.325,17.848 C15.093,17.698 15.615,17.081 15.605,16.336 C15.595,15.608 15.073,15.009 14.329,14.872 C13.496,14.718 12.904,15.124 12.497,16.137 C10.160,16.137 7.818,16.137 5.481,16.137 Z"/>
                                        </svg>
                                    span <strong>Железнодорожным транспортом:</strong> полувагонами и железнодорожным платформами
                                li.point-with-icon.delivery-list__point-with-icon
                                    .ponit-with-icon__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26px" height="23px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M23.050,18.898 C22.766,19.270 22.430,19.603 22.378,20.107 C22.336,20.514 22.441,20.856 22.747,21.130 C23.156,21.496 23.409,21.950 23.519,22.484 C23.604,22.891 23.458,23.033 23.043,22.998 C22.067,22.916 21.089,22.849 20.112,22.777 C18.805,22.682 17.499,22.587 16.193,22.494 C15.235,22.426 14.277,22.364 13.319,22.296 C12.043,22.204 10.767,22.108 9.490,22.016 C8.553,21.949 7.615,21.885 6.677,21.818 C5.371,21.725 4.064,21.628 2.758,21.535 C2.329,21.504 1.900,21.473 1.470,21.457 C0.981,21.439 0.601,21.241 0.459,20.763 C0.276,20.147 0.143,19.517 0.005,18.955 C0.100,18.514 0.153,18.159 0.256,17.819 C0.341,17.539 0.548,17.403 0.867,17.393 C2.046,17.353 3.145,16.978 4.199,16.490 C6.074,15.622 7.924,14.700 9.796,13.826 C12.607,12.513 15.509,11.443 18.565,10.865 C20.102,10.574 21.663,10.406 23.218,10.217 C23.912,10.133 24.615,10.125 25.315,10.101 C25.759,10.086 26.016,10.354 25.989,10.786 C25.798,13.774 24.880,16.502 23.050,18.898 ZM18.126,14.407 C17.644,13.977 17.022,14.015 16.620,14.501 C15.999,15.250 16.205,16.661 17.013,17.198 C17.444,17.484 17.930,17.432 18.291,17.060 C18.617,16.725 18.711,16.303 18.737,15.885 C18.730,15.303 18.489,14.730 18.126,14.407 ZM21.232,9.119 C20.578,8.989 19.912,8.890 19.247,8.845 C17.919,8.754 16.580,8.698 15.284,9.067 C14.588,9.266 13.906,9.543 13.257,9.864 C11.037,10.961 8.835,12.093 6.626,13.212 C6.557,13.247 6.486,13.279 6.411,13.314 C6.320,12.785 6.409,12.591 6.850,12.346 C8.988,11.156 11.136,9.984 13.261,8.771 C15.047,7.751 16.955,7.417 18.979,7.623 C19.642,7.690 20.303,7.775 21.011,7.857 C20.912,7.484 20.826,7.112 20.708,6.750 C20.680,6.665 20.556,6.580 20.460,6.552 C19.897,6.389 19.339,6.180 18.763,6.102 C17.294,5.904 15.823,5.929 14.412,6.444 C13.759,6.682 13.122,6.987 12.517,7.330 C9.779,8.881 7.058,10.461 4.475,12.266 C4.037,12.572 3.796,12.931 3.715,13.447 C3.616,14.086 3.484,14.720 3.341,15.351 C3.314,15.469 3.192,15.607 3.079,15.657 C2.761,15.797 2.426,15.896 2.019,16.038 C2.119,15.537 2.203,15.110 2.288,14.683 C2.404,14.097 2.523,13.512 2.635,12.926 C2.758,12.284 3.104,11.795 3.638,11.425 C5.675,10.012 7.758,8.674 9.925,7.466 C10.988,6.873 12.032,6.240 13.123,5.702 C14.683,4.932 16.363,4.708 18.085,4.872 C18.856,4.946 19.622,5.096 20.381,5.253 C20.667,5.312 20.938,5.473 21.196,5.619 C21.556,5.823 21.796,6.115 21.892,6.543 C22.077,7.367 22.302,8.182 22.523,9.044 C22.083,9.087 21.680,9.208 21.232,9.119 ZM11.608,2.505 C11.612,2.135 11.830,1.862 12.114,1.665 C13.024,1.036 14.042,0.889 15.112,1.078 C15.287,1.109 15.510,1.250 15.586,1.402 C15.980,2.191 16.333,3.001 16.722,3.848 C14.880,3.922 13.211,4.433 11.605,5.349 C11.605,4.358 11.599,3.431 11.608,2.505 Z"/>
                                        </svg>
                                    span <strong>Водным транспортом:</strong> баржами различной грузоподъёмности
                                li.point-with-icon.delivery-list__point-with-icon
                                    .ponit-with-icon__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M14.291,31.991 L12.146,29.845 L29.845,12.146 L31.991,14.291 L14.291,31.991 ZM6.078,23.777 L23.777,6.077 L25.923,8.223 L8.223,25.923 L6.078,23.777 ZM0.009,17.709 L17.709,0.009 L19.854,2.155 L2.155,19.854 L0.009,17.709 Z"/>
                                        </svg>
                                    span <strong>Комбинированно:</strong> ж/д + автотранспорт + водный транспорт
                                li.point-with-icon.delivery-list__point-with-icon
                                    .ponit-with-icon__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M17.464,6.429 C17.464,9.980 14.595,12.859 11.056,12.859 C7.517,12.859 4.648,9.980 4.648,6.429 C4.648,2.878 7.517,-0.001 11.056,-0.001 C14.595,-0.001 17.464,2.878 17.464,6.429 ZM16.345,13.162 C14.852,14.345 13.001,15.002 11.056,15.002 C9.089,15.002 7.220,14.330 5.720,13.124 C1.766,14.580 -0.000,19.671 -0.000,21.995 L22.000,21.995 C22.000,19.691 20.221,14.637 16.345,13.162 Z"/>
                                        </svg>
                                    span <strong>Самовывоз</strong>
                            form(action="").delivery-form
                                h2.delivery-form__headline Узнать стоимость доставки
                                label.input-default.delivery-form__input-default
                                    input(type="text", name="" placeholder="Имя *" required)
                                    span.red-square
                                label.input-default.delivery-form__input-default
                                    input(type="tel", name="" placeholder="Телефон *" required)
                                    span.red-square
                                label.input-default.delivery-form__input-default
                                    input(type="text", name="" placeholder="Адрес доставки *" required)
                                    span.red-square
                                .delivery-form__products-headlines
                                    span Список продукции
                                    span Кол-во
                                .delivery-form__chose-products
                                    div
                                        label.input-select
                                            select(name="")
                                                option Название продукции
                                                option(value="Вариант 1") Вариант 1
                                                option(value="Вариант 2") Вариант 2
                                                option(value="Вариант 3") Вариант 3
                                    div
                                        .counter
                                            a(href="javascript:;").counter__less –
                                            input(type="text" value="1" readonly)
                                            a(href="javascript:;").counter__more +
                                label.input-checkbox.delivery-form__input-checkbox
                                    input(type="checkbox", name="")
                                    span Я согласен с политикой конфиденциальности и даю согласие на обработку моих персональных данных
                                input(type="submit", value="Отправить заявку").btn.btn-primary.btn-lg.delivery-form__submit


                        
            include ./templates/contacts/contacts.pug
            include ./templates/mmenu/mmenu.pug
        footer
            include ./templates/footer/footer.pug