doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_page
                include ./templates/breadcrumb/breadcrumb.pug
                h1.headline.headline_page.headline_formalization-of-order Оформление заявки №34567
                .order-table-wrapper.js--order-table-wrapper
                    .order-table-headline
                        h2 Ваша заявка
                        a(href="javascript:;").js--order-table-opener
                            span Развернуть
                            span Свернуть
                    .order-table
                        ul.basket-products-list
                            li.basket-item
                                .basket-table-header
                                    .basket-table-header__img
                                        img(src="assets/img/product_01.png", alt="")
                                    h3.basket-table-header__title Зимние закупки 2020 <br/> Бетонное изделие ПДНм-Ат 800-55(55а)
                                .basket-table
                                    .table-line.table-line_headline
                                        div
                                            span Марка
                                        div
                                            span Цена" руб/за шт.
                                        div
                                            span Кол-во
                                        div
                                            span Стоимость
                                    .table-line
                                        div
                                            span ПДНм-Ат   800-55(55а)
                                        div
                                            span 1,680 руб./шт.
                                        div
                                            span 1
                                        div.table-price
                                            span 2 352 &#8381;
                                ul.basket-table-mobile
                                    li
                                        span.basket-table-mobile__headline ПДНм-Ат 800-55(55а)
                                        ul.basket-table-mobile__description
                                            li
                                                span Габариты (длина x высота x толщина)
                                                span 6,0х2,0х0,14
                                            li
                                                span Цена" руб/за шт.
                                                span 1,680 руб./шт.
                                            li
                                                span Кол-во
                                                span 1
                                            li
                                                span Стоимость
                                                span.table-price-mobile 2 352 &#8381;
                                    li
                                        span.basket-table-mobile__headline ПДНм-Ат 800-55(55а)
                                        ul.basket-table-mobile__description
                                            li
                                                span Габариты (длина x высота x толщина)
                                                span 6,0х2,0х0,14
                                            li
                                                span Цена" руб/за шт.
                                                span 1,680 руб./шт.
                                            li
                                                span Кол-во
                                                span 1
                                            li
                                                span Стоимость
                                                span.table-price-mobile 2 352 &#8381;
                        h2.basket-complect-list-headline Проекты
                        ul.basket-complect-list
                            li.basket-item
                                .basket-table-header
                                    .basket-table-header__img
                                        img(src="assets/img/house-Betosha.png", alt="")
                                    h3.basket-table-header__title Дом «Бетоша»
                                .basket-table
                                    .table-line.table-line_headline
                                        div
                                            span Марка
                                        div
                                            span Цена" руб/за шт.
                                        div
                                            span Кол-во
                                        div
                                            span Стоимость
                                    .table-line
                                        div
                                            span ПДНм-Ат   800-55(55а)
                                        div
                                            span 1,680 руб./шт.
                                        div
                                            span 1
                                        div.table-price
                                            span 2 352 &#8381;
                                ul.basket-table-mobile
                                    li
                                        span.basket-table-mobile__headline ПДНм-Ат 800-55(55а)
                                        ul.basket-table-mobile__description
                                            li
                                                span Габариты (длина x высота x толщина)
                                                span 6,0х2,0х0,14
                                            li
                                                span Цена" руб/за шт.
                                                span 1,680 руб./шт.
                                            li
                                                span Кол-во
                                                span 1
                                            li
                                                span Стоимость
                                                span.table-price-mobile 2 352 &#8381;
                                .complect-table__price.complect-table__price_gray
                                    div
                                        span Общая стоимость:
                                    div
                                        span 2 352 &#8381;
                                .complect-table__price.complect-table__price_red
                                    div
                                        span Общая стоимость заказа:
                                    div
                                        span 2 352 &#8381;
                form(action="")
                    fieldset.formalization-of-order-item
                        h2.formalization-of-order__subheadline Ваши данные для заявки
                        .formalization-of-order-data
                            div
                                label.input-default.formalization-of-order-data__input-default
                                    input(type="text", name="" placeholder="Имя *" required)
                                    span.red-square
                                label.input-default.formalization-of-order-data__input-default
                                    input(type="tel", name="" placeholder="Телефон *" required)
                                    span.red-square
                                label.input-default.formalization-of-order-data__input-default
                                    input(type="email", name="" placeholder="E-mail *" required)
                                    span.red-square
                            div
                                label.textarea-default.formalization-of-order-data__textarea-default
                                    textarea(name="", cols="30", rows="10" placeholder="Комментарий")
                                    span.red-square
                    fieldset.formalization-of-order-item.js--formalization-delivery.formalization-delivery
                        h2.formalization-of-order__subheadline Доставка
                        .formalization-of-order-delivery
                            div
                                label.input-switch.js--formalization-delivery-switch
                                    input(type="checkbox", name="")
                                    div
                                        div
                                    span
                                        span Да 
                                        | / 
                                        span Нет
                            div.formalization-of-order-delivery__description
                                span Самовывоз, забрать можно со склада по адресу:
                                    strong Пермский край, п. Оверята, ул. Комсомольская, 2
                                span *Стоимость и условия доставки подготовят наши менеджеры. Выберите город:
                        .formalization-of-order-choose-city
                            .formalization-of-order-choose-city-headline
                                div
                                    //- .js--select-search
                                    select.js--select-search.js--select-city
                                        option(value="" disabled) Выберите ваш город из списка или введите в поиске
                                div
                                    span Или выберите город на карте
                            .formalization-of-order-choose-city-map#js--formalization-map
                    fieldset.formalization-of-order-item.js--formalization-storage.formalization-storage
                        h2.formalization-of-order__subheadline Бесплатное хранение
                        .formalization-of-order-storage
                            div
                                .formalization-of-order-storage__header
                                    label.input-switch.js--formalization-storage-switch
                                        input(type="checkbox", name="")
                                        div
                                            div
                                        span
                                            span Да 
                                            | / 
                                            span Нет
                                .formalization-of-order-storage__description
                                    span Выберите желаемую дату окончания бесплатного хранения:
                            div
                                .formalization-of-order-storage__slider-header
                                    div
                                        a(href="javascript:;").js--formalization-of-order-storage__slider-prev <
                                        span Апрель 2020
                                        a(href="javascript:;").js--formalization-of-order-storage__slider-next >
                                ul.formalization-of-order-storage__slider.js--formalization-of-order-storage__slider
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Пн
                                            span 10
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Вт
                                            span 11
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Ср
                                            span 12
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Чт
                                            span 13
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Пт
                                            span 14
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Сб
                                            span 15
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Вс
                                            span 16
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Пн
                                            span 17
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Вт
                                            span 18
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Ср
                                            span 19
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Чт
                                            span 20
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Пт
                                            span 21
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Сб
                                            span 22
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Вс
                                            span 23
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Пн
                                            span 24
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Вт
                                            span 25
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Ср
                                            span 26
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Чт
                                            span 27
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Пт
                                            span 28
                                    li.formalization-of-order-storage__slider-item
                                        label
                                            input(type="radio", name="date")
                                            span Сб
                                            span 29
                    fieldset.formalization-of-order-item
                        h2.formalization-of-order__subheadline Способ оплаты
                        .formalization-of-order-payment
                            div
                                ul.formalization-of-order-payment-list
                                    li.formalization-of-order-payment-list__item.active
                                        label
                                            input(type="radio", name="payment" checked)
                                            span Онлайн
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="20px">
                                                <path fill-rule="evenodd"  fill="rgb(236, 63, 71)" d="M24.000,2.952 C23.976,3.556 23.741,4.207 23.243,4.753 C20.317,7.967 17.395,11.182 14.470,14.395 C12.840,16.186 11.201,17.969 9.580,19.769 C9.334,20.042 9.178,20.104 8.894,19.810 C6.212,17.032 3.503,14.281 0.832,11.492 C-0.688,9.904 -0.066,7.342 1.951,6.758 C3.024,6.447 3.957,6.749 4.739,7.547 C6.059,8.896 7.380,10.244 8.679,11.615 C9.000,11.954 9.181,11.968 9.507,11.608 C12.724,8.056 15.954,4.516 19.193,0.986 C20.300,-0.221 21.848,-0.332 23.016,0.664 C23.627,1.184 24.002,2.004 24.000,2.952 Z"/>
                                            </svg>
                                    li.formalization-of-order-payment-list__item
                                        label
                                            input(type="radio", name="payment")
                                            span По счёту
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="20px">
                                                <path fill-rule="evenodd"  fill="rgb(236, 63, 71)" d="M24.000,2.952 C23.976,3.556 23.741,4.207 23.243,4.753 C20.317,7.967 17.395,11.182 14.470,14.395 C12.840,16.186 11.201,17.969 9.580,19.769 C9.334,20.042 9.178,20.104 8.894,19.810 C6.212,17.032 3.503,14.281 0.832,11.492 C-0.688,9.904 -0.066,7.342 1.951,6.758 C3.024,6.447 3.957,6.749 4.739,7.547 C6.059,8.896 7.380,10.244 8.679,11.615 C9.000,11.954 9.181,11.968 9.507,11.608 C12.724,8.056 15.954,4.516 19.193,0.986 C20.300,-0.221 21.848,-0.332 23.016,0.664 C23.627,1.184 24.002,2.004 24.000,2.952 Z"/>
                                            </svg>
                                    li.formalization-of-order-payment-list__item
                                        label
                                            input(type="radio", name="payment")
                                            span В офисе: г. Пермь, ул. Ленина, д. 69
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="20px">
                                                <path fill-rule="evenodd"  fill="rgb(236, 63, 71)" d="M24.000,2.952 C23.976,3.556 23.741,4.207 23.243,4.753 C20.317,7.967 17.395,11.182 14.470,14.395 C12.840,16.186 11.201,17.969 9.580,19.769 C9.334,20.042 9.178,20.104 8.894,19.810 C6.212,17.032 3.503,14.281 0.832,11.492 C-0.688,9.904 -0.066,7.342 1.951,6.758 C3.024,6.447 3.957,6.749 4.739,7.547 C6.059,8.896 7.380,10.244 8.679,11.615 C9.000,11.954 9.181,11.968 9.507,11.608 C12.724,8.056 15.954,4.516 19.193,0.986 C20.300,-0.221 21.848,-0.332 23.016,0.664 C23.627,1.184 24.002,2.004 24.000,2.952 Z"/>
                                            </svg>
                                    li.formalization-of-order-payment-list__item
                                        label
                                            input(type="radio", name="payment")
                                            span На заводе: пос. Оверята, ул. Комсомольской, д. 2
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="20px">
                                                <path fill-rule="evenodd"  fill="rgb(236, 63, 71)" d="M24.000,2.952 C23.976,3.556 23.741,4.207 23.243,4.753 C20.317,7.967 17.395,11.182 14.470,14.395 C12.840,16.186 11.201,17.969 9.580,19.769 C9.334,20.042 9.178,20.104 8.894,19.810 C6.212,17.032 3.503,14.281 0.832,11.492 C-0.688,9.904 -0.066,7.342 1.951,6.758 C3.024,6.447 3.957,6.749 4.739,7.547 C6.059,8.896 7.380,10.244 8.679,11.615 C9.000,11.954 9.181,11.968 9.507,11.608 C12.724,8.056 15.954,4.516 19.193,0.986 C20.300,-0.221 21.848,-0.332 23.016,0.664 C23.627,1.184 24.002,2.004 24.000,2.952 Z"/>
                                            </svg>
                                    li.formalization-of-order-payment-list__item
                                        label
                                            input(type="radio", name="payment")
                                            span В рассрочку
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="20px">
                                                <path fill-rule="evenodd"  fill="rgb(236, 63, 71)" d="M24.000,2.952 C23.976,3.556 23.741,4.207 23.243,4.753 C20.317,7.967 17.395,11.182 14.470,14.395 C12.840,16.186 11.201,17.969 9.580,19.769 C9.334,20.042 9.178,20.104 8.894,19.810 C6.212,17.032 3.503,14.281 0.832,11.492 C-0.688,9.904 -0.066,7.342 1.951,6.758 C3.024,6.447 3.957,6.749 4.739,7.547 C6.059,8.896 7.380,10.244 8.679,11.615 C9.000,11.954 9.181,11.968 9.507,11.608 C12.724,8.056 15.954,4.516 19.193,0.986 C20.300,-0.221 21.848,-0.332 23.016,0.664 C23.627,1.184 24.002,2.004 24.000,2.952 Z"/>
                                            </svg>
                                    li.formalization-of-order-payment-list__item
                                        label
                                            input(type="radio", name="payment")
                                            span В кредит
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="20px">
                                                <path fill-rule="evenodd"  fill="rgb(236, 63, 71)" d="M24.000,2.952 C23.976,3.556 23.741,4.207 23.243,4.753 C20.317,7.967 17.395,11.182 14.470,14.395 C12.840,16.186 11.201,17.969 9.580,19.769 C9.334,20.042 9.178,20.104 8.894,19.810 C6.212,17.032 3.503,14.281 0.832,11.492 C-0.688,9.904 -0.066,7.342 1.951,6.758 C3.024,6.447 3.957,6.749 4.739,7.547 C6.059,8.896 7.380,10.244 8.679,11.615 C9.000,11.954 9.181,11.968 9.507,11.608 C12.724,8.056 15.954,4.516 19.193,0.986 C20.300,-0.221 21.848,-0.332 23.016,0.664 C23.627,1.184 24.002,2.004 24.000,2.952 Z"/>
                                            </svg>
                            div
                                ul.formalization-of-order-payment__description-list
                                    li.active
                                        .formalization-of-order-payment__headline
                                            span Принимаемые к оплате карты:
                                        ul.formalization-of-order-payment-type
                                            li.formalization-of-order-payment-type__item
                                                img(src="assets/img/payment_visa.png", alt="")
                                            li.formalization-of-order-payment-type__item
                                                img(src="assets/img/payment_visa.png", alt="")
                                            li.formalization-of-order-payment-type__item
                                                img(src="assets/img/payment_visa.png", alt="")
                                        .formalization-of-order-payment__description
                                            p По результатам обработки заказ вам на указанную почту будет выслан электронный счет, в виде ссылки, перейдя по которой вы сможете оплатить ваш заказ. 
                                            p *Предварительно будет звонок от менеджера, для согласования стоимости доставки.
                                    li
                                        .formalization-of-order-payment__description
                                            p Описание по счёту
                                            p *Предварительно будет звонок от менеджера, для согласования стоимости доставки.
                                    li
                                        .formalization-of-order-payment__description
                                            p В офисе
                                            p *Предварительно будет звонок от менеджера, для согласования стоимости доставки.
                                    li
                                        .formalization-of-order-payment__description
                                            p На заводе
                                            p *Предварительно будет звонок от менеджера, для согласования стоимости доставки.
                                    li
                                        .formalization-of-order-payment__description
                                            p В рассрочку
                                            p *Предварительно будет звонок от менеджера, для согласования стоимости доставки.
                                    li
                                        .formalization-of-order-payment__description
                                            p В кредит
                                            p *Предварительно будет звонок от менеджера, для согласования стоимости доставки.
                    label.input-checkbox.formalization-of-order__input-checkbox
                        input(type="checkbox", name="" required)
                        span Я согласен с политикой конфиденциальности и даю согласие на обработку моих персональных данных
                    input(type="submit", value="Отправить заявку").btn.btn-primary.btn-lg.formalization-of-order__input-submit
            include ./templates/contacts/contacts.pug
            include ./templates/mmenu/mmenu.pug
        footer
            include ./templates/footer/footer.pug