doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container.container_page
                include ./templates/breadcrumb/breadcrumb.pug
                .content-with-left-aside
                    aside.aside-nav.aside-nav_small
                        nav
                            ul
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav.active Оплата
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav Доставка
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav Сертификаты
                                li
                                    a(href="").btn.btn-gray.btn-lg.btn-block.btn-nav Реквизиты
                    .content-with-left-aside__content.payment-content
                        h1.headline.headline_page Способы оплаты
                        span.subheadline В «ПермТрансЖелезобетон» вы можете совершить оплату двумя способами:
                        .point-with-icon.point-with-icon_bold.point-with-icon_lonely
                            .ponit-with-icon__icon
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px">
                                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.189,9.463 C21.056,10.186 19.796,10.559 18.479,10.741 C16.892,10.959 15.312,10.911 13.749,10.528 C13.652,10.504 13.553,10.468 13.467,10.417 C12.780,10.003 12.054,9.678 11.283,9.461 C10.716,9.302 10.346,8.888 9.989,8.467 C9.549,7.948 9.333,7.340 9.366,6.650 C9.379,6.357 9.368,6.064 9.368,5.771 C9.813,7.118 10.865,7.846 12.076,8.383 C13.786,9.142 15.593,9.365 17.449,9.255 C18.751,9.177 20.015,8.926 21.213,8.394 C22.150,7.977 23.002,7.441 23.561,6.545 C23.713,6.302 23.811,6.025 23.940,5.752 C23.915,6.481 24.042,7.218 23.685,7.909 C23.338,8.577 22.809,9.066 22.189,9.463 ZM21.177,7.191 C19.733,7.819 18.214,8.055 16.507,8.060 C14.892,8.049 13.192,7.763 11.613,6.943 C10.904,6.575 10.269,6.109 9.817,5.431 C9.161,4.446 9.232,3.315 9.993,2.403 C10.696,1.561 11.616,1.053 12.623,0.688 C14.252,0.098 15.938,-0.073 17.661,0.059 C19.077,0.167 20.437,0.476 21.702,1.140 C22.396,1.503 23.021,1.956 23.467,2.617 C24.145,3.622 24.088,4.726 23.319,5.665 C22.743,6.368 21.998,6.834 21.177,7.191 ZM14.159,12.968 C14.793,13.929 14.720,15.071 13.978,15.958 C13.264,16.812 12.330,17.322 11.308,17.696 C10.018,18.168 8.678,18.351 7.216,18.363 C5.544,18.339 3.835,18.059 2.250,17.230 C1.557,16.867 0.932,16.412 0.488,15.751 C-0.196,14.732 -0.125,13.605 0.675,12.666 C1.396,11.820 2.337,11.317 3.362,10.954 C5.037,10.362 6.763,10.217 8.523,10.373 C9.865,10.492 11.154,10.805 12.352,11.434 C13.067,11.809 13.706,12.280 14.159,12.968 ZM3.327,18.920 C4.984,19.532 6.708,19.668 8.461,19.521 C9.828,19.406 11.140,19.091 12.361,18.453 C13.098,18.068 13.758,17.579 14.206,16.859 C14.358,16.615 14.460,16.340 14.572,16.107 C14.863,17.595 14.269,18.867 12.859,19.751 C11.734,20.455 10.504,20.862 9.198,21.016 C8.384,21.111 7.558,21.175 6.741,21.147 C4.985,21.086 3.297,20.714 1.782,19.763 C1.123,19.350 0.550,18.839 0.241,18.104 C0.127,17.832 0.059,17.529 0.033,17.235 C-0.002,16.847 0.025,16.453 0.025,16.004 C0.577,17.659 1.883,18.387 3.327,18.920 ZM2.738,21.493 C4.571,22.303 6.506,22.495 8.486,22.327 C9.844,22.212 11.147,21.897 12.360,21.261 C13.096,20.875 13.757,20.389 14.205,19.669 C14.357,19.424 14.460,19.149 14.563,18.934 C14.776,20.262 14.415,21.421 13.252,22.283 C12.241,23.033 11.100,23.472 9.882,23.714 C7.689,24.152 5.516,24.072 3.389,23.341 C2.339,22.980 1.375,22.465 0.651,21.586 C0.252,21.103 0.018,20.552 0.021,19.914 C0.022,19.566 0.021,19.218 0.021,18.870 C0.470,20.232 1.528,20.958 2.738,21.493 ZM21.752,10.939 C22.481,10.557 23.132,10.067 23.565,9.346 C23.713,9.101 23.812,8.826 23.971,8.563 C23.936,9.112 23.956,9.671 23.856,10.208 C23.717,10.949 23.222,11.488 22.645,11.941 C21.575,12.781 20.326,13.207 19.011,13.461 C18.060,13.645 17.100,13.707 16.133,13.656 C16.063,13.653 15.946,13.603 15.935,13.555 C15.813,13.010 15.578,12.516 15.242,12.022 C15.504,12.042 15.721,12.065 15.940,12.074 C17.967,12.157 19.929,11.893 21.752,10.939 ZM22.629,14.764 C21.570,15.591 20.337,16.012 19.038,16.264 C18.105,16.445 17.162,16.520 16.211,16.471 C16.157,16.468 16.103,16.460 16.003,16.449 C16.003,15.940 16.003,15.432 16.003,14.895 C16.085,14.895 16.184,14.893 16.284,14.895 C17.968,14.931 19.608,14.705 21.164,14.032 C22.118,13.620 22.988,13.079 23.556,12.168 C23.711,11.919 23.813,11.637 23.915,11.424 C23.915,11.847 23.965,12.335 23.904,12.809 C23.795,13.651 23.274,14.260 22.629,14.764 ZM21.171,16.837 C22.125,16.423 22.994,15.880 23.561,14.968 C23.712,14.724 23.811,14.448 23.921,14.216 C24.190,15.762 23.617,16.997 22.202,17.883 C21.064,18.596 19.811,18.977 18.495,19.161 C17.979,19.233 17.457,19.259 16.937,19.290 C16.640,19.308 16.341,19.293 16.000,19.293 C16.000,18.743 16.000,18.235 16.000,17.704 C16.169,17.704 16.348,17.703 16.528,17.704 C18.132,17.716 19.692,17.479 21.171,16.837 Z"/>
                                </svg>
                            span В офисе:
                        p За наличный расчет или с использованием банковской карты в одном из офисов предприятия:
                        ul.list-with-check-mark
                            li Пермский край, г. Пермь, ул. Ленина, д. 69, оф. 1
                            li Пермский край, г. Краснокамск, п. Оверята, ул. Комсомольская, д. 2
                        .point-with-icon.point-with-icon_bold.point-with-icon_lonely
                            .ponit-with-icon__icon
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="20px">
                                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M26.243,19.992 C18.080,19.993 9.917,19.993 1.755,19.992 C1.599,19.992 1.445,19.987 1.291,19.945 C0.614,19.760 0.226,19.292 -0.000,18.659 C-0.000,12.877 -0.000,7.095 -0.000,1.313 C0.217,0.656 0.649,0.214 1.312,0.003 C9.770,0.003 18.228,0.003 26.686,0.003 C27.351,0.212 27.778,0.659 27.998,1.313 C27.998,7.095 27.998,12.877 27.998,18.659 C27.696,19.475 27.161,19.992 26.243,19.992 ZM25.917,2.691 C25.891,2.385 25.696,2.185 25.406,2.083 C25.235,2.023 25.059,2.022 24.881,2.022 C17.624,2.023 10.367,2.023 3.109,2.023 C3.026,2.023 2.942,2.020 2.860,2.027 C2.347,2.071 2.043,2.386 2.026,2.899 C2.018,3.107 2.023,3.315 2.024,3.523 C2.024,3.971 2.025,3.972 2.477,3.972 C6.309,3.972 10.140,3.972 13.972,3.972 C17.772,3.972 21.573,3.972 25.373,3.972 C25.477,3.972 25.581,3.971 25.686,3.971 C25.854,3.970 25.935,3.881 25.935,3.719 C25.934,3.376 25.946,3.032 25.917,2.691 ZM25.527,10.010 C21.695,10.010 17.863,10.010 14.032,10.010 C10.169,10.010 6.306,10.010 2.443,10.010 C2.032,10.010 2.024,10.018 2.024,10.430 C2.023,12.572 2.023,14.713 2.024,16.854 C2.024,17.663 2.306,17.949 3.109,17.949 C10.366,17.949 17.623,17.949 24.880,17.949 C25.681,17.949 25.974,17.656 25.975,16.857 C25.975,14.726 25.975,12.595 25.975,10.464 C25.975,10.011 25.974,10.010 25.527,10.010 ZM23.735,16.001 C22.581,15.995 21.426,15.996 20.272,16.001 C20.063,16.002 19.971,15.933 19.973,15.714 C19.981,14.894 19.982,14.073 19.973,13.253 C19.970,13.013 20.076,12.952 20.293,12.955 C20.865,12.964 21.437,12.958 22.009,12.958 C22.582,12.959 23.154,12.964 23.726,12.956 C23.934,12.953 24.026,13.024 24.024,13.243 C24.016,14.063 24.017,14.884 24.024,15.704 C24.025,15.913 23.954,16.002 23.735,16.001 ZM15.464,14.003 C13.643,14.003 11.821,14.003 10.000,14.003 C8.127,14.003 6.253,13.997 4.380,14.009 C4.069,14.011 3.958,13.925 3.970,13.605 C3.997,12.867 3.903,12.960 4.628,12.959 C8.260,12.956 11.893,12.957 15.525,12.958 C16.022,12.958 16.022,12.958 16.023,13.448 C16.023,14.003 16.023,14.003 15.464,14.003 ZM4.657,14.956 C6.311,14.950 7.965,14.961 9.619,14.948 C9.927,14.946 10.041,15.030 10.029,15.350 C10.001,16.089 10.096,15.993 9.373,15.998 C8.583,16.004 7.792,16.000 7.001,15.999 C6.107,15.999 5.213,15.993 4.318,16.003 C4.066,16.006 3.967,15.927 3.973,15.666 C3.991,14.837 3.894,14.959 4.657,14.956 Z"/>
                                </svg>
                            span Дистанционно:
                        p Банковской картой или банковским переводом.
                        p После подтверждения вашего заказа и согласования с вами способа оплаты, менеджер направит вам на электронную почту или в одном из мессенджеров счет на оплату или  ссылку для оплаты. Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем:
                        ul.list-with-check-mark
                            li МИР;
                            li VISA International;
                            li Mastercard Worldwide;
                            li JCB.
                        ul.payments-list
                            li
                                img(src="assets/img/payment_mir.png", alt="")
                            li
                                img(src="assets/img/payment_mastercard.png", alt="")
                            li
                                img(src="assets/img/payment_visa.png", alt="")
                            li
                                img(src="assets/img/payment_jcb.png", alt="")
                        p Для оплаты (ввода реквизитов вашей карты) вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей VerifiedByVisa, MasterCardSecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля.
                        p Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, VisaInt., MasterCardEuropeSprl, JCB.
            
            include ./templates/contacts/contacts.pug
        footer
            include ./templates/footer/footer.pug