doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            .container
                .typical-content
                    img(src="assets/img/typical-img.png", alt="")
                    h1 Заголовок h1
                    h2 Заголовок h2
                    h3 Заголовок h3
                    h4 Заголовок h4
                    h5 Заголовок h5
                    h6 Заголовок h6
                    p Начиная с 2004 года, предприятие ведет подготовку к обязательной сертификации для продукции, используемой на железнодорожном транспорте. Уже в октябре 2004 г. сертифицировано 4 вида изделий. Для обеспечения выпуска конкурентоспособной продукции предприятие осуществляет тесное взаимодействие с ведущими научно- исследовательскими институтами: ВНИИ железнодорожного транспорта, СоюздорНИИ, 26 НИИ Минобороны, ОАО «ЦНИИС», местными научными и проектными институтами. Это позволяет постоянно совершенствовать технологию производства, повышать качество выпускаемой продукции и осваивать новые виды изделий (до 12 наименований ежегодно). На предприятии внедрена и сертифицирована система менеджмента качества (международный стандарт ISO 9001 версии 2000 г.).
                    p В 2004 году был начат монтаж линии для ввода российско-испанской линии «Тенсиланд» для производства пустотных плит настила. Проект был внедрен в 2005 году. Его стоимость составила 2 млн. евро.
                    p В 2004 году ОАО «Пермтрансжелезобетон» начало работать под торговой маркой «Бетокам», а в 2005 году вошло в состав корпорации «Бетокам», которая была создана в том же году.
                    ul
                        li Список
                        li Список
                        li Список
                    ol
                        li Список
                        li Список
                        li Список
                    blockquote Великая цитата великого человека
                    .table-wrapper
                        table
                            tr 
                                th 1
                                th 2
                                th 3
                            tr
                                td Таблица
                                td Теплица
                                td Небылица
                            tr
                                td Таблица
                                td Теплица
                                td Небылица
                            tr
                                td Таблица
                                td Теплица
                                td Небылица
            include ./templates/contacts/contacts.pug
            include ./templates/mmenu/mmenu.pug
        footer
            include ./templates/footer/footer.pug